<div class="toolbar" role="banner">
  <img
    width="45"
    src="https://images.emojiterra.com/twitter/v12/512px/270f.png"
  />
  <h4>Notes</h4>
    <div class="spacer"></div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.collapsible popout');
  var instances = M.Collapsible.init(elems, options);
});
</script>


<body class="bodyfondo">
<div class="content" role="main">
  <h2>Agregue una nota:</h2>
  <div class="row" class="inputbox">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6" >
          <input id="input_text" type="text" data-length="10" #titulo>
          <label for="input_text">Titulo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea2" class="materialize-textarea" type="text" data-length="120" #texto></textarea>
          <label for="textarea2">Texto</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" class="button"  (click)="nota(titulo, texto)" type="reset" value="reset">Crear nota</button>
    </form>
    <h2>Sus Notas:</h2>


 <ul class="collapsible popout">
  <li *ngFor="let nota of Notas">
    <div class="collapsible-header">
      {{nota.titulo}}
    </div>
    <div class="collapsible-body"><span>
      {{nota.texto}}</span></div>
  </li>
    </ul>
  </div>


</div>

